@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}


:root {
 
  font-family: 'SUIT', sans-serif;
  --scale: 1;
  --base-font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark; 
  color: rgba(255, 255, 255, 0.87);
  background-color: #0D0E12; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*, *::before, *::after {
  font-family: 'SUIT', sans-serif;
}


*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.3);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.5);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.3) transparent;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 1px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #29303A; 
    border-radius: 10px;      
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #374151; 
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #29303A transparent;
  }
}