@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. 화면 전체 꽉 채우기 */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

/* 2. 기본 배경색 및 폰트 설정 */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark; /* 다크 모드 기본 */
  color: rgba(255, 255, 255, 0.87);
  background-color: #0D0E12; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #29303A;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6D7380;
}